.brand-mobile {
  display: none;
  color: var(--light-content-primary);
  .brand {
    max-width: 70px;
  }
  li {
    padding: 10px;
  }
  :last-child {
    text-align: right;
  }
}

@media only screen and (max-width: 992px) {
  .brand-mobile {
    display: grid;
  }
}
