@import "../../mixins.scss";

.modal-onboarding {
  padding: 32px;
  h3 {
    color: var(--light-principal-primary-a);
    @include titleLarge;
    margin-bottom: 32px;
  }
  p {
    @include bodyLarge;
    color: var(--light-principal-primary-a);
  }
  .footer-modal {
    margin: 0 auto;
    max-width: 500px;
    .btn {
      margin-top: 42px;
    }
  }
}

.desktop {
  display: block;
}
.mobile {
  display: none;
}

@media only screen and (max-width: 992px) {
  .modal-onboarding {
    width: 100%;
    position: fixed;
    padding: 0px;
    h3,
    p {
      color: var(--light-principal-primary-b);
    }
    .footer-modal {
      .btn-primary {
        color: var(--light-principal-primary-b);
      }
      .btn-outline {
        color: var(--light-principal-primary-a);
        background: var(--light-backgound-primary);
      }
      .btn {
        margin-top: 0;
      }
    }
  }
  .bg-dark-mobile {
    background-color: var(--light-backgound-inverse-primary);
    padding: 32px;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
    padding: 32px;
    position: relative;
    height: 300px;
    img {
      position: absolute;
      bottom: -14px;
    }
  }
}
