.tabs {
  margin-top: 40px;
  margin-bottom: 35px;
  .tab {
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    display: inline-block;
    margin-left: 16px;
    position: relative;
    color: var(--light-content-tertiary);
    &.selected {
      color: var(--light-content-primary);
      &::after {
        content: "";
        position: absolute;
        bottom: -11px;
        left: 0;
        right: 0;
        width: 10px;
        height: 10px;
        margin: 0 auto;
        background-color: var(--light-principal-accent);
        border-radius: 20px;
        display: inline-block;
      }
    }
  }
}
