@import "../../mixins.scss";

.card {
  background: var(--light-backgound-primary);
  @include dp_03_shadow;
  border-radius: calc(var(--global-border-radius-2) * 1px);
  .padding-card-info {
    padding: 16px 0 32px 16px;
    .bagde {
      color: var(--light-content-tertiary);
      border: 1px solid var(--light-content-tertiary);
      border-radius: 4px;
      padding: 2px 8px;
      @include bodyChips;
      margin: 5px;
      white-space: nowrap;
    }
    h4 {
      @include titleLarge;
      padding: 10px;
    }
  }
  .align-brand {
    text-align: right;
    .card-brand {
      width: 64px;
      height: 64px;
      background-color: var(--light-backgound-inverse-primary);
      @include dp_03_shadow;
      border-radius: 0px 16px;
      display: inline-block;
      overflow: hidden;
      position: relative;
      img {
        margin: 0 auto;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
      }
    }
  }
}
