@import "../../mixins.scss";
.tabs {
  margin-top: 30px;
  margin-bottom: 35px;
  overflow-x: auto;
  overflow-y: visible;
  height: 50px;
  &::-webkit-scrollbar {
    display: none;
  }
  cursor: pointer;
  .tab {
    @include titleMedium();
    display: inline-block;
    margin-left: 16px;
    position: relative;
    white-space: nowrap;
    color: var(--light-content-tertiary);
    &.selected {
      color: var(--light-content-primary);
      &::after {
        content: "";
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        width: 10px;
        height: 10px;
        margin: 0 auto;
        background-color: var(--light-principal-accent);
        border-radius: 20px;
        display: inline-block;
      }
    }
  }
}
