@import "../../mixins.scss";

.topbar {
  background: var(--light-backgound-primary);
  @include dp_01_shadow;
  border-radius: 0px 0px 8px 8px;
  padding: 10px 16px;
  li {
    display: inline-block;
    vertical-align: middle;
  }
  .list-item {
    li {
      color: var(--light-content-primary);
      margin-left: 30px;
      @include bodySmall;
      i {
        display: inline-block;
        opacity: 0.2;
      }
      &.active {
        color: var(--light-content-primary);
      }
    }
    .brand {
      padding: 5px;
      & > svg {
        max-width: 134px !important;
        height: auto;
        #SOLDI path {
          fill: var(--light-content-primary);
          stroke: var(--light-content-primary);
        }
      }
    }
    .box-search {
      border: 1px solid rgba(0, 0, 0, 0.08);
      border-radius: 16px;
      padding: 10px;
    }

    .category_home {
      // background-image: url("../../assets/icon/home.svg");
      // background-repeat: no-repeat;
      width: 25px;
      height: 25px;
      vertical-align: middle;
      opacity: 1;
      color: var(--light-content-primary);
    }
    .icon_search {
      // background-image: url("../../assets/icon/search-normal.svg");
      // background-repeat: no-repeat;

      width: 25px;
      height: 25px;
      vertical-align: middle;
    }
    .category_icon {
      // background-image: url("../../assets/icon/category.svg");
      // background-repeat: no-repeat;

      width: 25px;
      height: 25px;
      vertical-align: middle;
    }
    .category_user {
      // background-image: url("../../assets/icon/user.svg");
      // background-repeat: no-repeat;

      width: 25px;
      height: 25px;
      vertical-align: middle;
    }
    i {
      path {
        stroke: var(--light-content-primary);
      }
    }
  }
  .name-mobile {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .nav-mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    @include dp_05_shadow;
    border-radius: 16px 16px 0px 0px;
    nav > ul {
      justify-content: center;
      .list-item {
        li {
          text-align: center;
          color: var(--light-content-primary);
          i {
            display: block;
            margin: 0 auto;
            opacity: 0.2;
          }
        }
        .box-search {
          border: 0;
        }
      }
    }
    .category_home {
      opacity: 1;
    }
    .name-mobile {
      display: block;
    }
    .hidden-mobile {
      display: none;
    }
  }
}
