.border-gradient {
  background: var(--light-gradients-story);
  border-radius: 50%;
  padding: 2px;
  width: 62px;
  height: 62px;
  margin: 0 auto;
  .round-brand {
    width: 58px;
    height: 58px;
    overflow: hidden;
    border: 2px solid transparent;
    background-color: #fff;
    border-radius: 60px;
    position: relative;
    img {
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
    }
  }
}
