@mixin displayLarge {
  font-family: var(--global-font-families-poppins);
  font-weight: var(--global-font-weights-poppins-0);
  line-height: calc(var(--global-line-heights-0) * 1px);
  font-size: calc(var(--global-font-size-11) * 1px);
  letter-spacing: calc(var(--global-letter-spacing-0) * 1px);
  // paragraph-spacing: "$paragraphSpacing.0";
  // text-case: "$textCase.none";
  text-decoration: var(--global-text-decoration-none);
}
@mixin displayMedium {
  font-family: var(--global-font-families-poppins);
  font-weight: var(--global-font-weights-poppins-0);
  line-height: calc(var(--global-line-heights-1) * 1px);
  font-size: calc(var(--global-font-size-10) * 1px);
  letter-spacing: calc(var(--global-letter-spacing-1) * 1px);
  // paragraph-spacing: "$paragraphSpacing.0";
  // text-case: "$textCase.none";
  text-decoration: var(--global-text-decoration-none);
}
@mixin displaySmall {
  font-family: var(--global-font-families-poppins);
  font-weight: var(--global-font-weights-poppins-0);
  line-height: calc(var(--global-line-heights-2) * 1px);
  font-size: calc(var(--global-font-size-9) * 1px);
  letter-spacing: calc(var(--global-letter-spacing-1) * 1px);
  // paragraph-spacing: "$paragraphSpacing.0";
  // text-case: "$textCase.none";
  text-decoration: var(--global-text-decoration-none);
}
@mixin headlineLarge {
  font-family: var(--global-font-families-poppins);
  font-weight: var(--global-font-weights-poppins-0);
  line-height: calc(var(--global-line-heights-3) * 1px);
  font-size: calc(var(--global-font-size-8) * 1px);
  letter-spacing: calc(var(--global-letter-spacing-1) * 1px);
  // paragraph-spacing: "$paragraphSpacing.0";
  // text-case: "$textCase.none";
  text-decoration: var(--global-text-decoration-none);
}
@mixin headlineMedium {
  font-family: var(--global-font-families-poppins);
  font-weight: var(--global-font-weights-poppins-0);
  line-height: calc(var(--global-line-heights-4) * 1px);
  font-size: calc(var(--global-font-size-7) * 1px);
  letter-spacing: calc(var(--global-letter-spacing-1) * 1px);
  // paragraph-spacing: "$paragraphSpacing.0";
  // text-case: "$textCase.none";
  text-decoration: var(--global-text-decoration-none);
}

@mixin headlineSmall {
  font-family: var(--global-font-families-poppins);
  font-weight: var(--global-font-weights-poppins-0);
  line-height: calc(var(--global-line-heights-5) * 1px);
  font-size: calc(var(--global-font-size-6) * 1px);
  letter-spacing: calc(var(--global-letter-spacing-1) * 1px);
  // paragraph-spacing: "$paragraphSpacing.0";
  // text-case: "$textCase.none";
  text-decoration: var(--global-text-decoration-none);
}
@mixin titleLarge {
  font-family: var(--global-font-families-poppins);
  font-weight: var(--global-font-weights-poppins-0);
  line-height: calc(var(--global-line-heights-6) * 1px);
  font-size: calc(var(--global-font-size-5) * 1px);
  letter-spacing: calc(var(--global-letter-spacing-1) * 1px);
  // paragraph-spacing: "$paragraphSpacing.0";
  // text-case: "$textCase.none";
  text-decoration: var(--global-text-decoration-none);
}

@mixin titleMedium {
  font-family: var(--global-font-families-poppins);
  font-weight: var(--global-font-weights-poppins-1);
  line-height: calc(var(--global-line-heights-7) * 1px);
  font-size: calc(var(--global-font-size-4) * 1px);
  letter-spacing: calc(var(--global-letter-spacing-2) * 1px);
  // paragraph-spacing: "$paragraphSpacing.0";
  // text-case: "$textCase.none";
  text-decoration: var(--global-text-decoration-none);
}
@mixin titleSmall {
  font-family: var(--global-font-families-poppins);
  font-weight: var(--global-font-weights-poppins-1);
  line-height: calc(var(--global-line-heights-8) * 1px);
  font-size: calc(var(--global-font-size-3) * 1px);
  letter-spacing: calc(var(--global-letter-spacing-2) * 1px);
  // paragraph-spacing: "$paragraphSpacing.0";
  // text-case: "$textCase.none";
  text-decoration: var(--global-text-decoration-none);
}
@mixin labelLarge {
  font-family: var(--global-font-families-poppins);
  font-weight: var(--global-font-weights-poppins-1);
  line-height: calc(var(--global-line-heights-8) * 1px);
  font-size: calc(var(--global-font-size-3) * 1px);
  letter-spacing: calc(var(--global-letter-spacing-2) * 1px);
  // paragraph-spacing: "$paragraphSpacing.0";
  // text-case: "$textCase.none";
  text-decoration: var(--global-text-decoration-none);
}

@mixin labelMedium {
  font-family: var(--global-font-families-poppins);
  font-weight: var(--global-font-weights-poppins-1);
  line-height: calc(var(--global-line-heights-9) * 1px);
  font-size: calc(var(--global-font-size-2) * 1px);
  letter-spacing: calc(var(--global-letter-spacing-3) * 1px);
  // paragraph-spacing: "$paragraphSpacing.0";
  // text-case: "$textCase.none";
  text-decoration: var(--global-text-decoration-none);
}
@mixin labelSmall {
  font-family: var(--global-font-families-poppins);
  font-weight: var(--global-font-weights-poppins-1);
  line-height: calc(var(--global-line-heights-9) * 1px);
  font-size: calc(var(--global-font-size-1) * 1px);
  letter-spacing: calc(var(--global-letter-spacing-3) * 1px);
  // paragraph-spacing: "$paragraphSpacing.0";
  // text-case: "$textCase.none";
  text-decoration: var(--global-text-decoration-none);
}
@mixin bodyLarge {
  font-family: var(--global-font-families-poppins);
  font-weight: var(--global-font-weights-poppins-0);
  line-height: calc(var(--global-line-heights-7) * 1px);
  font-size: calc(var(--global-font-size-4) * 1px);
  letter-spacing: calc(var(--global-letter-spacing-3) * 1px);
  // paragraph-spacing: "$paragraphSpacing.0";
  // text-case: "$textCase.none";
  text-decoration: var(--global-text-decoration-none);
}

@mixin bodyMedium {
  font-family: var(--global-font-families-poppins);
  font-weight: var(--global-font-weights-poppins-0);
  line-height: calc(var(--global-line-heights-8) * 1px);
  font-size: calc(var(--global-font-size-3) * 1px);
  letter-spacing: calc(var(--global-letter-spacing-4) * 1px);
  // paragraph-spacing: "$paragraphSpacing.0";
  // text-case: "$textCase.none";
  text-decoration: var(--global-text-decoration-none);
}

@mixin bodySmall {
  font-family: var(--global-font-families-poppins);
  font-weight: var(--global-font-weights-poppins-0);
  line-height: calc(var(--global-line-heights-9) * 1px);
  font-size: calc(var(--global-font-size-2) * 1px);
  letter-spacing: calc(var(--global-letter-spacing-5) * 1px);
  // paragraph-spacing: "$paragraphSpacing.0";
  // text-case: "$textCase.none";
  text-decoration: var(--global-text-decoration-none);
}

@mixin bodyChips {
  font-family: var(--global-font-families-poppins);
  font-weight: var(--global-font-weights-poppins-0);
  line-height: calc(var(--global-line-heights-10) * 1px);
  font-size: calc(var(--global-font-size-0) * 1px);
  letter-spacing: calc(var(--global-letter-spacing-6) * 1px);
  // paragraph-spacing: "$paragraphSpacing.0";
  // text-case: "$textCase.none";
  text-decoration: var(--global-text-decoration-none);
}

@mixin dp_01_shadow {
  box-shadow: calc(var(--global-01-dp-1-x) * 1px)
      calc(var(--global-01-dp-1-y) * 1px) calc(var(--global-01-dp-1-blur) * 1px)
      calc(var(--global-01-dp-1-spread) * 1px) var(--global-01-dp-1-color),
    calc(var(--global-01-dp-0-x) * 1px) calc(var(--global-01-dp-0-y) * 1px)
      calc(var(--global-01-dp-0-blur) * 1px)
      calc(var(--global-01-dp-0-spread) * 1px) var(--global-01-dp-0-color);
}

@mixin dp_02_shadow {
  box-shadow: calc(var(--global-02-dp-1-x) * 1px)
      calc(var(--global-02-dp-1-y) * 1px) calc(var(--global-02-dp-1-blur) * 1px)
      calc(var(--global-02-dp-1-spread) * 1px) var(--global-02-dp-1-color),
    calc(var(--global-02-dp-0-x) * 1px) calc(var(--global-02-dp-0-y) * 1px)
      calc(var(--global-02-dp-0-blur) * 1px)
      calc(var(--global-02-dp-0-spread) * 1px) var(--global-02-dp-0-color);
}

@mixin dp_03_shadow {
  box-shadow: calc(var(--global-03-dp-1-x) * 1px)
      calc(var(--global-03-dp-1-y) * 1px) calc(var(--global-03-dp-1-blur) * 1px)
      calc(var(--global-03-dp-1-spread) * 1px) var(--global-03-dp-1-color),
    calc(var(--global-03-dp-0-x) * 1px) calc(var(--global-03-dp-0-y) * 1px)
      calc(var(--global-03-dp-0-blur) * 1px)
      calc(var(--global-03-dp-0-spread) * 1px) var(--global-03-dp-0-color);
}

@mixin dp_04_shadow {
  box-shadow: calc(var(--global-04-dp-1-x) * 1px)
      calc(var(--global-04-dp-1-y) * 1px) calc(var(--global-04-dp-1-blur) * 1px)
      calc(var(--global-04-dp-1-spread) * 1px) var(--global-04-dp-1-color),
    calc(var(--global-04-dp-0-x) * 1px) calc(var(--global-04-dp-0-y) * 1px)
      calc(var(--global-04-dp-0-blur) * 1px)
      calc(var(--global-04-dp-0-spread) * 1px) var(--global-04-dp-0-color);
}

@mixin dp_05_shadow {
  box-shadow: calc(var(--global-05-dp-1-x) * 1px)
      calc(var(--global-05-dp-1-y) * 1px) calc(var(--global-05-dp-1-blur) * 1px)
      calc(var(--global-05-dp-1-spread) * 1px) var(--global-05-dp-1-color),
    calc(var(--global-05-dp-0-x) * 1px) calc(var(--global-05-dp-0-y) * 1px)
      calc(var(--global-05-dp-0-blur) * 1px)
      calc(var(--global-05-dp-0-spread) * 1px) var(--global-05-dp-0-color);
}
