@import "../../mixins.scss";

.bg-white {
  background-color: var(--light-backgound-primary);
  height: 100vh;
  position: relative;
  .btn {
    margin-top: 42px;
  }
}
.bg-image {
  background-color: var(--light-backgound-inverse-primary);
  height: 100vh;
  position: relative;
}
.bg-white .log-in,
.bg-image img {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.title {
  @include displayLarge;
}
.paragraph {
  @include titleSmall;
  text-align: center;
  margin-top: 24px;
  a {
    text-decoration: var(--global-text-decoration-underline);
  }
}
@media only screen and (max-width: 992px) {
  .bg-hidden {
    display: none;
  }
}
